<ngx-datatable
  class="mt-4 material"
  [rows]="users"
  columnMode="force"
  headerHeight="50"
  footerHeight="50"
  rowHeight="75"
  [limit]="10"
  [scrollbarH]="true"
  [scrollbarV]="true">

  <ngx-datatable-column name="Name" class="thead-light" width="60">
    <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
      <strong>{{row.name}}</strong>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="Age" width="50">
    <ng-template let-value="value" ngx-datatable-cell-template>
      {{value}}
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="Sex" width="60">
    <ng-template let-value="value" ngx-datatable-cell-template>
      {{value}}
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="Country" width="80">
    <ng-template let-value="value" ngx-datatable-cell-template>
      {{value}}
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="City" width="50">
    <ng-template let-value="value" ngx-datatable-cell-template>
      {{value}}
    </ng-template>
  </ngx-datatable-column>
</ngx-datatable>
